services:
  postgres:
    image: postgres:latest@sha256:2d417d4c88058c9707bd19d45f95c1db2b087507b89d44f669d43f596781614e
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  node:
    build:
      context: .
      dockerfile: Dockerfile
      target: client
    command: webpack --watch
    environment:
      NODE_ENV: 'production'
    volumes:
      - ./client/:/oscarbundles/client/
      - ./server/:/oscarbundles/server/

  test:
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    command: python sandbox/manage.py runserver 0.0.0.0:8000
    ports:
      - '8000:8000'
    depends_on:
      - postgres
    volumes:
      - ./client/:/oscarbundles/client/
      - ./server/:/oscarbundles/server/
