services:
  postgres:
    image: postgres:latest@sha256:b870e6b96354b3ed4b8737382093b22e5db2bf48b2fd97c009d3a85697cd0949
    environment:
      POSTGRES_HOST_AUTH_METHOD: 'trust'

  node:
    build:
      context: .
      dockerfile: Dockerfile
      target: client
    command: webpack --watch
    environment:
      NODE_ENV: 'production'
    volumes:
      - ./client/:/oscarbundles/client/
      - ./server/:/oscarbundles/server/

  test:
    build:
      context: .
      dockerfile: Dockerfile
      target: server
    command: python sandbox/manage.py runserver 0.0.0.0:8000
    ports:
      - '8000:8000'
    depends_on:
      - postgres
    volumes:
      - ./client/:/oscarbundles/client/
      - ./server/:/oscarbundles/server/
