{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load bundle_dashboard_tags %}


{% block body_class %}{{ block.super }} delete-bundle-group{% endblock %}


{% block title %}
    {% trans "Delete bundle" %} | {% trans "Bundle Groups" %} | {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard-bundle-group-list' %}">{% trans "Bundle Groups" %}</a>
        </li>
        <li>
            {% trans "Delete bundle group: " %} {% if object.name %}{{ object.name }}{% else %}{{ object.pk }}{% endif %}
        </li>
    </ul>
{% endblock %}


{% block headertext %}
    {% trans "Delete bundle group: " %} {% if object.name %}{{ object.name }}{% else %}{{ object.pk }}{% endif %}
{% endblock %}


{% block dashboard_content %}
    <div class="row">
        <div class="col-md-12">
            <form action="." method="post" class="form-stacked">
                {% csrf_token %}
                <div class="table-header">
                    <h3>{% trans "Delete bundle group: " %} {% if object.name %}{{ object.name }}{% else %}{{ object.pk }}{% endif %}</h3>
                </div>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>Name</th>
                        <td>{{ object.name | default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ object.description | default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>Bundles</th>
                        <td>
                            <ul>
                                {% for bundle in object.bundle_set.all %}
                                    <li>{{ bundle.name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                </table>

                {% include 'dashboard/partials/form_fields.html' with form=form %}

                <div class="form-group">
                    <a class="btn btn-default" href="{% url 'dashboard-bundle-group-detail' pk=object.pk %}">{% trans "Cancel" %}</a>
                    <button class="btn btn-danger" type="submit">{% trans "Delete" %}</button>
                </div>
            </form>
        </div>
    </div>
{% endblock dashboard_content %}
