{% extends 'dashboard/layout.html' %}
{% load i18n %}
{% load bundle_dashboard_tags %}


{% block body_class %}{{ block.super }} create-bundle{% endblock %}


{% block title %}
    {% trans "Create new bundle" %} | {% trans "Bundles" %} | {{ block.super }}
{% endblock %}


{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'dashboard-bundle-list' %}">{% trans "Bundles" %}</a>
        </li>
        <li>
            {% trans "Bundle details: " %} {% if bundle.name %}{{ bundle.name }}{% else %}{{ bundle.pk }}{% endif %}
        </li>
    </ul>
{% endblock %}


{% block headertext %}
    {% trans "Bundle details: " %} {% if bundle.name %}{{ bundle.name }}{% else %}{{ bundle.pk }}{% endif %}
{% endblock %}


{% block dashboard_content %}
    <div class="row">
        <div class="col-md-12">
            <div class="table-header">
                <h2>{% trans "Bundle details: " %} {% if bundle.name %}{{ bundle.name }}{% else %}{{ bundle.pk }}{% endif %}</h2>
            </div>
            <table class="table table-striped table-bordered">
                <tbody>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <td>{{ bundle.name | default:"-" }}</td>
                        <td rowspan="2">
                            <a href="{% url 'dashboard-bundle-edit' pk=bundle.pk %}" class="btn btn-default">{% trans "Edit" %}</a>
                            <a href="{% url 'dashboard-bundle-delete' pk=bundle.pk %}" class="btn btn-danger">{% trans "Delete" %}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Description" %}</th>
                        <td>{{ bundle.description | default:"-" }}</td>
                    </tr>
                    <tr>
                        <th>{% trans "Bundle Group" %}</th>
                        <td>{{ bundle.bundle_group | default:"-" }}</td>
                        <td>
                            {% if bundle.bundle_group %}
                                <a href="{% url 'dashboard-bundle-group-edit' pk=bundle.bundle_group.pk %}" class="btn btn-default">{% trans "Edit" %}</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Triggering Products" %}</th>
                        <td>{% grouped_product_list bundle.triggering_products %}</td>
                        <td>
                            <a href="{% url 'dashboard-bundle-triggering-products' pk=bundle.pk %}" class="btn btn-default">{% trans "Edit" %}</a>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Suggested Products" %}</th>
                        <td>{% grouped_product_list bundle.suggested_products %}</td>
                        <td>
                            <a href="{% url 'dashboard-bundle-suggested-products' pk=bundle.pk %}" class="btn btn-default">{% trans "Edit" %}</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock dashboard_content %}
